body {
    margin: 0;
    padding: 0;
}
a {
    background-color:blue;
    color: white;
    padding: 2rem;
    display: block;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    background: black;
    color: white;
    margin: 0;
    padding: 1em;
}
.item {
    height: 70px;
    width: 70px;
    color: white;
    display: grid;
    place-content: center;
    font-size: 1.3em;
}
.item-1 {
    background-color:blue;
}
.item-2 {
    background-color:rgb(217, 131, 144);
}
.item-3 {
    background-color:yellowgreen
}
.item-4 {
    background-color:yellow;
}
.item-5 {
    background-color:teal;
}
.align {
    height: 500px;
    background-color:aqua;
}
.content {
     height: 500px;
}
/* par défaut la flex-direction est à row (en ligne), on peut 
inverser la direction avec flex-direction: row-reverse et également la mettre en colonne. flex-direction: column */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}
.container2 {
    display: flex;
    flex-direction:column;
    justify-content: start;
}
.container3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.container4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container7 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.container8 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container9 {
    display: flex;
    flex-direction: column;
    align-items: end;
}